


/*
 * Body
 */
 body {
    
    background: url("/img/bg.jpg") no-repeat, center;
    background-size: cover;
  }

  main {
    background-color: #5a5a5a;
    opacity: 0.85;
    padding: 40px 40px 40px 40px !important;
    color: #b1c508;
  }